.fondo-index header {
  background-color: #e4e3e3; }
  .fondo-index header .pre-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    background-color: white;
    border: solid #cfcfcf 1px;
    gap: 40%; }
    .fondo-index header .pre-nav .principio-p {
      display: flex; }
      .fondo-index header .pre-nav .principio-p .texto-select {
        margin-left: 34px;
        color: #444444;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 6px; }
      .fondo-index header .pre-nav .principio-p form select {
        height: 22px;
        border: none;
        color: red;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        outline: none; }
      .fondo-index header .pre-nav .principio-p form .boton-confirmar-provincia {
        border-radius: 10px;
        width: 108px;
        height: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 11px;
        color: #252525;
        background-color: white;
        border: solid 1px black;
        margin-left: 12px; }
      .fondo-index header .pre-nav .principio-p form .boton-confirmar-provincia:hover {
        background-color: #3f3f3f;
        color: white; }
    .fondo-index header .pre-nav .ubi-mano {
      display: flex;
      gap: 62px; }
      .fondo-index header .pre-nav .ubi-mano .ubi {
        gap: 10px;
        display: flex; }
        .fondo-index header .pre-nav .ubi-mano .ubi img {
          height: 19px; }
        .fondo-index header .pre-nav .ubi-mano .ubi a {
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          margin-top: 1px; }
        .fondo-index header .pre-nav .ubi-mano .ubi a:hover {
          color: red; }
      .fondo-index header .pre-nav .ubi-mano .mano {
        display: flex;
        gap: 10px; }
        .fondo-index header .pre-nav .ubi-mano .mano img {
          height: 16px; }
        .fondo-index header .pre-nav .ubi-mano .mano a {
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          margin-top: 1px; }
        .fondo-index header .pre-nav .ubi-mano .mano a:hover {
          color: red; }
  .fondo-index header .nav {
    background-color: #e4e3e3;
    height: 62px;
    display: flex;
    align-items: center;
    gap: 7%; }
    .fondo-index header .nav a .logo-principal {
      height: 46px;
      width: 216px;
      margin-left: 42px; }
    .fondo-index header .nav form {
      display: flex; }
      .fondo-index header .nav form .buscador {
        height: 40px;
        width: 420px;
        border: solid silver 2px;
        border-radius: 5px;
        font-size: 15px;
        padding: 8px;
        outline: none; }
      .fondo-index header .nav form .boton-buscar {
        height: 40px;
        width: 66px;
        border: none;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        background-color: #36c6ff; }
      .fondo-index header .nav form .boton-buscar:hover {
        background-color: #2ba0ce; }
    .fondo-index header .nav .inicio-de-sesion .inicia-sesion {
      font-size: 14px;
      font-family: arial;
      color: #3d3d3d;
      margin: 0px; }
    .fondo-index header .nav .inicio-de-sesion .ing-regis {
      font-size: 12px;
      font-family: arial;
      color: red; }
    .fondo-index header .nav .inicio-de-sesion .ing-regis:hover {
      color: black; }
    .fondo-index header .nav .imgs-b {
      border-left: solid #b8b8b8 1px; }
      .fondo-index header .nav .imgs-b .like {
        border-radius: 8px;
        margin-left: 10px;
        height: 50px;
        width: 50px; }
      .fondo-index header .nav .imgs-b .carro {
        border-radius: 8px;
        margin-left: 10px;
        height: 50px;
        width: 50px; }
  .fondo-index header .botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff3d3d;
    height: 58px; }
    .fondo-index header .botonera .filtro {
      height: 58px;
      width: 240px;
      font-size: 19px;
      border: none;
      outline: none;
      color: #555555;
      padding-left: 8px; }
      .fondo-index header .botonera .filtro .filtros {
        font-size: 16px; }
    .fondo-index header .botonera a .image-button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
      border-right: solid #cfcfcf 1px; }

.fondo-index main {
  display: flex;
  flex-direction: column;
  border-left: solid #e4e3e3 68px;
  border-right: solid #e4e3e3 68px; }
  .fondo-index main .credito {
    width: 100%;
    border-bottom: solid #e4e3e3 28px;
    border-top: solid #e4e3e3 2px; }
  .fondo-index main .tarjetas {
    display: flex;
    gap: 40px;
    margin-top: 8px;
    margin-bottom: 16px; }
    .fondo-index main .tarjetas .tarjeta {
      display: flex;
      align-items: center; }
      .fondo-index main .tarjetas .tarjeta a {
        font-size: 18px;
        color: #2b2b2b;
        margin-left: 5px; }
      .fondo-index main .tarjetas .tarjeta a:hover {
        color: #000000; }
  .fondo-index main h1 {
    color: #000000; }
  .fondo-index main .lo-mas-vendido-h1 {
    margin-top: 60px;
    color: #000000; }
  .fondo-index main .productos {
    display: flex;
    justify-content: center; }
    .fondo-index main .productos .card .card-body {
      display: flex;
      justify-content: center; }
      .fondo-index main .productos .card .card-body .btn {
        background-color: #36c6ff;
        border: #36c6ff solid 1px;
        font-size: 15px;
        height: 40px;
        width: 200px;
        font-weight: bold;
        border-radius: 22px; }
  .fondo-index main .productos-ultimos {
    display: flex;
    justify-content: center;
    border-bottom: white solid 40px; }
    .fondo-index main .productos-ultimos .card .card-body {
      display: flex;
      justify-content: center; }
      .fondo-index main .productos-ultimos .card .card-body .btn {
        background-color: #36c6ff;
        border: #36c6ff solid 1px;
        font-size: 15px;
        height: 40px;
        width: 200px;
        font-weight: bold;
        border-radius: 22px; }
  .fondo-index main .img-corte {
    width: 100%;
    margin-top: 30px; }

.fondo-index footer .imagenes-fot {
  display: flex;
  gap: 34px;
  border-top: solid #e4e3e3 58px;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%; }
  .fondo-index footer .imagenes-fot .img-sombra:hover {
    box-shadow: 6px -6px 10px rgba(0, 0, 0, 0.5); }

.fondo-index footer .suscripcion {
  background-color: #ff3d3d;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: solid #d80d0d 1px; }
  .fondo-index footer .suscripcion h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0%;
    width: 694px; }
  .fondo-index footer .suscripcion form {
    width: 58%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px; }
    .fondo-index footer .suscripcion form .email {
      display: flex;
      width: 100%; }
      .fondo-index footer .suscripcion form .email .poner-mail {
        height: 25px;
        border: none;
        background-color: #e4e3e3;
        color: #414141;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        font-size: 12px;
        padding: 10px;
        margin-left: 20px; }
      .fondo-index footer .suscripcion form .email .mandar-mail {
        height: 25px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 12px;
        padding: 5px;
        color: white;
        background-color: #585858;
        font-weight: bold; }
      .fondo-index footer .suscripcion form .email .mandar-mail:hover {
        background-color: #36c6ff; }
  .fondo-index footer .suscripcion .redes {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 16px; }
    .fondo-index footer .suscripcion .redes .red-social {
      width: 38px;
      height: 38px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }
