.fondo-index{

    header{
        background-color:rgb(228, 227, 227);
        .pre-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30px;
            background-color: white;
            border: solid rgb(207, 207, 207) 1px;
            gap: 40%;
           .principio-p{
                    display: flex;      
                    .texto-select{
                        margin-left: 34px;
                        color: #444444;
                        font-size: 13px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: 6px;
                    }   
                    form{
                        select{
                            height: 22px;
                            border: none;
                            color: red;
                            font-size: 13px;
                            font-family:Arial, Helvetica, sans-serif;
                            outline: none;
                        }
                        .boton-confirmar-provincia{
                            border-radius: 10px;
                            width: 108px;
                            height: 20px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 11px;
                            color: rgb(37, 37, 37);
                            background-color: white;
                            border: solid 1px black;
                            margin-left: 12px;
                        }
                        .boton-confirmar-provincia:hover{
                                 background-color: rgb(63, 63, 63);
                                color: white;
                        }
                    }        
            }
            .ubi-mano{
                    display: flex;
                    gap: 62px;
                    .ubi{
                        gap: 10px;
                        display: flex;
                        img{
                            height: 19px;
                        }
                        a{
                            color: black;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 13px;
                            margin-top: 1px;
                        }
                        a:hover{
                            color: red;
                        }
                    }
                    .mano{
                        display: flex;
                        gap: 10px;
                        img{
                            height: 16px;
                        }
                        a{
                            color: black;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 13px;
                            margin-top: 1px;
                        }
                        a:hover{
                            color: red;
                        }
                    }
            }
        }

        .nav{
            background-color:rgb(228, 227, 227);
            height: 62px;
            display: flex;
            align-items: center;
            gap: 7%;
            a{
                .logo-principal{
                    height: 46px;
                    width: 216px;
                    margin-left: 42px;
                }
            }
            form{
                display: flex;
                .buscador{
                    height: 40px;
                    width: 420px;
                    border: solid rgb(192, 192, 192) 2px;
                    border-radius: 5px;
                    font-size: 15px;      
                    padding: 8px;
                    outline: none;          
                }
                .boton-buscar{
                    height: 40px;
                    width: 66px;
                    border: none;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    background-color: #36c6ff;
                }
                .boton-buscar:hover{
                    background-color: #2ba0ce;
                }
            }
            .inicio-de-sesion{
                .inicia-sesion{
                    font-size: 14px;
                    font-family: arial;
                    color: rgb(61, 61, 61);
                    margin: 0px;
                }
                .ing-regis{
                    font-size: 12px;
                    font-family: arial;
                    color: red;
                }
                .ing-regis:hover{
                    color: black;
                }
            }
            .imgs-b{
                border-left: solid rgb(184, 184, 184) 1px;
                .like{
                    border-radius: 8px;
                    margin-left: 10px;
                    height: 50px;
                    width: 50px;
                }
                .carro{
                    border-radius: 8px;
                    margin-left: 10px;
                    height: 50px;
                    width: 50px;
                }
            }
        }
        .botonera{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ff3d3d;
            height: 58px;
            .filtro{
                height: 58px;
                width: 240px;
                font-size: 19px;
                border: none;
                outline: none;
                color: #555555;
                padding-left: 8px;
                .filtros{
                    font-size: 16px;
                }
            }
            a{
                .image-button {
                    border: none;
                    background: none;
                    padding: 0;
                    cursor: pointer;
                    border-right: solid rgb(207, 207, 207) 1px;
                  }
            }
        }
    }

    main{
        .wsp{
            position: absolute;
            height: 56px;
            width: 56px;
            position: fixed;
            top: 88%;
            left: 96%;
    
        }
        display: flex;
        flex-direction: column;
        .credito{
            width: 100%;
            border-bottom: solid rgb(228, 227, 227) 28px;
            border-top: solid rgb(228, 227, 227) 2px;
        }
        .tarjetas{
            display: flex;
            gap: 40px;
            margin-top: 8px;
            margin-bottom: 16px;
            .tarjeta{
                display: flex;
                align-items: center;
                a{
                    font-size: 18px;
                    color: #2b2b2b;
                    margin-left: 5px;
                }
                a:hover{
                    color: #000000;
                }
            }
        }
        h1{
            color: #000000;
        }
        .lo-mas-vendido-h1{
            margin-top: 60px;
            color: #000000;
        }
        .productos{
            display: flex;
            justify-content: center;
            .card{
                .card-body{
                    display: flex;
                    justify-content: center;
                        .btn{
                            background-color: #36c6ff;
                            border: #36c6ff solid 1px;
                            font-size: 15px;
                            height: 40px;
                            width: 200px;
                            font-weight: bold;
                            border-radius: 22px;
                        }
                }
            }
        }
        .productos-ultimos{
            display: flex;
            justify-content: center;
            border-bottom: white solid 40px;
            .card{
                .card-body{
                    display: flex;
                    justify-content: center;
                        .btn{
                            background-color: #36c6ff;
                            border: #36c6ff solid 1px;
                            font-size: 15px;
                            height: 40px;
                            width: 200px;
                            font-weight: bold;
                            border-radius: 22px;
                        }
                }
            }
        }
        .img-corte{
            width: 100%;
            margin-top: 30px;
        }
    }
    footer{
        .imagenes-fot{
            display: flex;
            gap: 72px;
            border-top: solid #e4e3e3 58px;
            padding-top: 2%;
            justify-content: center;
            padding-bottom: 2%;
            .img-sombra:hover{
                box-shadow: 6px -6px 10px rgba(0, 0, 0, 0.5);
            }
        }
        .suscripcion{
            background-color: #ff3d3d;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-top: solid #d80d0d 1px;
            h2{
                font-size: 20px;
                font-weight: bold;
                color: white;
                margin: 0%;
                width: 694px;
            }
            form{
                width: 58%;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
                .email{
                    display: flex;
                    width: 100%;
                    .poner-mail{
                        height: 25px;
                        border: none;
                        background-color:rgb(228, 227, 227);
                        color: #414141;
                        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                        width: 100%;
                        font-size: 12px;
                        padding: 10px;
                        margin-left: 20px;
                    }
                    .mandar-mail{
                        height: 25px;
                        border: none;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        font-size: 12px;
                        padding: 5px;
                        color: white;
                        background-color: #585858;
                        font-weight: bold;
                    }
                    .mandar-mail:hover{
                        background-color: #36c6ff;
                    }
                }
            }
            .redes{
                display: flex;
                flex-direction: row;
                gap: 5px;
                margin-left: 16px;
                .red-social{
                    width: 38px;
                    height: 38px
                }
            }
        }
        .todos-links{
            display: grid;
            grid-template-columns: 1fr, 1fr, 1f, 1fr;
            grid-template-rows: 1fr, 1fr, 1f, 1fr;
            .card-foter-1{
                grid-column:1/1;
                grid-row: 1/1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-2{
                grid-column: 2/2;
                grid-row: 1/1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-3{
                grid-column: 3/3;
                grid-row: 1/1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-4{
                grid-column: 4/4;
                grid-row: 1/1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-5{
                grid-column: 1/1;
                grid-row: 2/2;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-6{
                grid-column: 2/2;
                grid-row: 2/2;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 18px;
                .logos{
                    height: 60px;
                    width: 168px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .card-foter-7{
                margin-top: 18px;
                grid-column: 3/3;
                grid-row: 2/2;
                display: flex;
                flex-direction: column;
                align-items: center;
                .logos{
                    height: 60px;
                    width: 60px;
                }
                .links{
                    font-size: 15px;
                    color: #777777;
                }
                .text{
                    font-size: 15px;
                    color: #777777;
                }
                .links:hover{
                    color: #000000;
                }
            }
            .full-a-1{
                grid-column: 1/1;
                grid-row: 3/3;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: #747474;
                    font-size: 14px;
                }
                a{
                    font-size: 13px;
                    color: #a0a0a0;
                }
                a:hover{
                    color: #000000;
                }
            }
            .full-a-2{
                grid-column: 2/2;
                grid-row: 3/3;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: #747474;
                    font-size: 14px;
                }
                a{
                    font-size: 13px;
                    color: #a0a0a0;
                }
                a:hover{
                    color: #000000;
                }
            }
            .full-a-3{
                grid-column: 3/3;
                grid-row: 3/3;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: #808080;
                    font-size: 14px;
                }
                a{
                    font-size: 13px;
                    color: #a0a0a0;
                }
                a:hover{
                    color: #000000;
                }
            }
            .full-a-4{
                grid-column: 4/4;
                grid-row: 3/3;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: #747474;
                    font-size: 14px;
                }
                a{
                    font-size: 13px;
                    color: #a0a0a0;
                }
                a:hover{
                    color: #000000;
                }
            }
        }
        .final-f{
            background-color:rgb(216, 216, 216);
            width: 90%;
            display: flex;
            padding-left: 10px;
            align-items: center;
            gap: 22px;
            margin-left: 5%;
            height: 46px;
            margin-top: 28px;
            a{
                font-size: 12px;
                color: #4e4e4e;
            }
            a:hover{
                color: #000000;
            }
        }
    }
}