.fondo-index{
    header{
        background-color:rgb(228, 227, 227);
        .pre-nav{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30px;
            background-color: white;
            border: solid rgb(207, 207, 207) 1px;
            gap: 40%;
           .principio-p{
                    display: flex;      
                    .texto-select{
                        margin-left: 34px;
                        color: #444444;
                        font-size: 13px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: 6px;
                    }   
                    form{
                        select{
                            height: 22px;
                            border: none;
                            color: red;
                            font-size: 13px;
                            font-family:Arial, Helvetica, sans-serif;
                            outline: none;
                        }
                        .boton-confirmar-provincia{
                            border-radius: 10px;
                            width: 108px;
                            height: 20px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 11px;
                            color: rgb(37, 37, 37);
                            background-color: white;
                            border: solid 1px black;
                            margin-left: 12px;
                        }
                        .boton-confirmar-provincia:hover{
                                 background-color: rgb(63, 63, 63);
                                color: white;
                        }
                    }        
            }
            .ubi-mano{
                    display: flex;
                    gap: 62px;
                    .ubi{
                        gap: 10px;
                        display: flex;
                        img{
                            height: 19px;
                        }
                        a{
                            color: black;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 13px;
                            margin-top: 1px;
                        }
                        a:hover{
                            color: red;
                        }
                    }
                    .mano{
                        display: flex;
                        gap: 10px;
                        img{
                            height: 16px;
                        }
                        a{
                            color: black;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 13px;
                            margin-top: 1px;
                        }
                        a:hover{
                            color: red;
                        }
                    }
            }
        }

        .nav{
            background-color:rgb(228, 227, 227);
            height: 62px;
            display: flex;
            align-items: center;
            gap: 7%;
            a{
                .logo-principal{
                    height: 46px;
                    width: 216px;
                    margin-left: 42px;
                }
            }
            form{
                display: flex;
                .buscador{
                    height: 40px;
                    width: 420px;
                    border: solid rgb(192, 192, 192) 2px;
                    border-radius: 5px;
                    font-size: 15px;      
                    padding: 8px;
                    outline: none;          
                }
                .boton-buscar{
                    height: 40px;
                    width: 66px;
                    border: none;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                    background-color: #36c6ff;
                }
                .boton-buscar:hover{
                    background-color: #2ba0ce;
                }
            }
            .inicio-de-sesion{
                .inicia-sesion{
                    font-size: 14px;
                    font-family: arial;
                    color: rgb(61, 61, 61);
                    margin: 0px;
                }
                .ing-regis{
                    font-size: 12px;
                    font-family: arial;
                    color: red;
                }
                .ing-regis:hover{
                    color: black;
                }
            }
            .imgs-b{
                border-left: solid rgb(184, 184, 184) 1px;
                .like{
                    border-radius: 8px;
                    margin-left: 10px;
                    height: 50px;
                    width: 50px;
                }
                .carro{
                    border-radius: 8px;
                    margin-left: 10px;
                    height: 50px;
                    width: 50px;
                }
            }
        }
        .botonera{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ff3d3d;
            height: 58px;
            .filtro{
                height: 58px;
                width: 240px;
                font-size: 19px;
                border: none;
                outline: none;
                color: #555555;
                padding-left: 8px;
                .filtros{
                    font-size: 16px;
                }
            }
            a{
                .image-button {
                    border: none;
                    background: none;
                    padding: 0;
                    cursor: pointer;
                    border-right: solid rgb(207, 207, 207) 1px;
                  }
            }
        }
        .credito{
            width: 100%;
            border-bottom: solid rgb(228, 227, 227) 22px;
        }
    }

    main{
        .tarjetas{
            display: flex;
            gap: 40px;
            margin-top: 8px;
            .tarjeta{
                display: flex;
                align-items: center;
                a{
                    font-size: 18px;
                    color: #2b2b2b;
                    margin-left: 5px;
                }
                a:hover{
                    color: #000000;
                }
            }
        }
    }
}